################################
# Development profile (H2)     #
################################

spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MSSQLServer;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: TRACE

jwt:
  secret: ZGV2LXNlY3JldC1jaGFuZ2UtbWUtcGxlYXNlLWV4dGVuZC0xMjM0NTY=
  expiration-minutes: 30
  issuer: ses-dev
